<br>
<br>
<br>
<div class="d-flex justify-content-center row-hl">
  <div class="p-4 item-hl form-outline">
    <h5 class = "text-center signup-h1-white"><%= flash[:message] %></h5>
    <h1 class = "text-center signup-h1-white">Login!</h1>
    <% if flash[:errors] != nil %>
      <% flash[:errors].map do |error| %>
        <p class = "text-center signup-h1-white"><%= "Username taken!" %>,</p>
      <% end %>
    <% end %>
    <%= form_tag login_path, method: :post, class: "form_group" do |f| %>
      <%# <%= f.label :name %>
      <%= text_field_tag :name, "Username", class: "form-control" %>
      <br>
      <%= password_field_tag :password, "", class: "form-control" %>
      <div class="d-flex justify-content-around row-hl ">
        <div class="p-4 item-hl ">
          <div style="align-items: center">
            <%= submit_tag "Login", class: "btn btn-outline-light btn-sm center-block margin"%>

          </div>

        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <%= button_to "Go to Sign up", new_user_path, method: :get, class: "btn btn-outline-light btn-sm center-block center-block"%>
</div>
