

<%= flash[:notice] %>

<div class="container">
  <div class="d-flex justify-content-center row-hl">
   <div class="p-4 item-hl signup-h1-white">
      <h2 class ="text-center">Hey <%= @user.name.capitalize %> !</h2>
      <h4 class ="text-center">This is your meal history</h4>
      <h5 class ="text-center">You can look for new recipes by hitting the view meals button up top!</h5>
  </div>
 </div>
</div>


<div class="container">
  <div class="card-columns">
    <% counter = 0 %>
    <% 7.times do %>
    <% that_day = Date.today - counter %>
    <div class="card text-center">
         <div class="card-body">
             <h4 class="card-title"><%= that_day.strftime("%A, %b, %d") %></h4>
             <p class="card-text">  <% @user.this_day_meals_name(that_day).each do |meal| %>
                  <%= link_to meal, "/meals/#{Meal.get_id(meal)}" %>
                 <br>
               <% end %>
               <%= @user.this_day_net_carbs(that_day) %> / 25 allowed carbs</p>
         </div>
     </div>
     <% counter += 1 %>
     <% end %>
  </div>
</div>
