<h1>All Meals</h1>
<%= button_to "View Ingredients", ingredients_path, method: :get%>
<%= button_to "My profile", user_path(current_user), method: :get%>
<h2>Search for a meal: </h2>



<%= form_tag(meals_path, method: :get)  do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>


<% @meals.each do |meal| %>
  <h3><%= link_to meal.name, meal %>, <%= meal.meal_type %></h3>
  <% if meal.image_url %>
    <%= image_tag(meal.image_url) %>
    <%= meal.calories %>
    <h1><%= meal.meal_type %></h1>
  <% end %>
<% end %>
