<h1><%= @meal.name %></h1>
<%= image_tag(@meal.image_url) %>
<%= button_to "View Meals", ingredients_path, method: :get%>
<h2>Ingredients:</h2>
<ul>
  <%@ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient %>, calories: <%= ingredient.calories %></li>
  <% end %>
</ul>
<h2>Nutritional value:</h2>
<h3>Calories: <%= @meal.calories %></h3>
<h3>Net Carbs: <%= @meal.net_carbs %></h3>
<h3>Sugar: <%= @meal.sugar %></h3>
<h3>Fiber: <%= @meal.fiber %></h3>


<%= form_for @meal do |f| %>
  <%= f.label "Add this meal to your profile" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Add Meal" %>
<% end %>

<%= button_to "delete", @meal, :method => :delete %>
